<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">about</a></li>
        <li><a href="/">contact</a></li>
        <li><a href="/">friends</a></li>
        <li><a href="/">skills</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
  <script src="main.js" charset="utf-8"></script>
</html>
